/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}














/* ==========================================================================
   Author's custom styles
   ========================================================================== */
a {
text-decoration: none;
}
        
body {
  background-image: url(https://s3-eu-west-1.amazonaws.com/assets.chooseyourboss.com/images/splash-general-3.png);
}
/* //////////////////////// */

/* font fo website */
@font-face {
  font-family: "Gotham";
    src:url("Gotham\ Black\ Regular.ttf");      
}

@font-face {
  font-family: "mulish";
    src:url("Mulish-VariableFont_wght.ttf");      
}
/* ================================================ */
 /* utility classes */
/*=================*/

.buttonSubscribe {
  background-color: #4d22ff;
  border-radius: 24px;
  border: none;
  height: 5px;
  font-size: 1.7em;
  color: white;
  padding: 5px 25px;
}

.button {
  background-color: #4d22ff;
  border-radius: 24px;
  border: none;
  font-size: 20px;
  color: white;
  padding: 5px 25px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
}

.backgroundLightpink {
  background-color: #d8dcff;
}

.backgroundLightgray {
  background-color: #e5e6e4;
}

.image {
  width: 250px;
}

.imageLink {
  width: 200px;
}

.logoLink {
  width: 100%;
}

.columnCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center {
  display: flex;
  align-items: center;
}

.fontTitleHeader {
  font-size: 46px;
  
}

.fontTextHeader {
  color: #212121;
  font-size: 26px;
}

.fontMulish {
  font-family: "mulish", Arial, Helvetica, sans-serif;
}

.fontGotham {
  font-family: "gotham", Arial, Helvetica, sans-serif;
}

.textCenter {
  text-align: center;
}

.fontSize18 {
  font-size: 18px;
}

.fontSize36 {
  font-size: 36px;
}

.fontSize26 {
  font-size: 26px;
}

.blueText {
  color: #162049;
}
/* ////////////////////////////////////////// */




/* =============================================================== */


                        /* nav */
                        /* === */
nav {  
  height: 10vh;
  position: relative;
  border-bottom: 2px solid gray;
}

.burger {
  position: absolute;
  top: 5px;
  left: 5px;
}

.titleLogo {
  padding-top: 0.5em;
  width: 100%;
  display: flex;
  justify-content: center;
}

.titleLogo img {
  width: 80%;
}

                        /* header */
                        /* ====== */
.subscribe h2 {
  font-size: 3em;
}

.subscribe p {
  font-size: 1.7em;
}

header .subscribe {
  padding-bottom: 6em;
}

                        /* main */
                        /* ==== */

/* bloc chiffre with number and blue background                         */
.chiffre {
  background-color: #2b345d;
  color: white;
}

.chiffreTitle {
  font-family: "gotham", Arial, Helvetica, sans-serif;
  font-size: 36px;
}

.chiffreSubtitle {
  font-family: "gotham", Arial, Helvetica, sans-serif;
  color: #2fd;
  font-size: 20px;
}

.blueBloc {
  padding: 40px 20px;
}

/* bloc matching with images */
.matchingTitle {
  background-color: tomato;
}

.matchingSubtitle {
  background-color: yellow;
  margin-top: -30px;
}

.blocMatching {
  background-color: rosybrown;
  margin-left: 15px;
  margin-right: 15px;
  padding-bottom: 40px;
}

.blocMatchingSubtitle {
  background-color: teal;
  margin-top: 20px;
  padding: 0 40px;
}

.blocMatchingDescription {
  background-color: red;
  width: 100%;
}

/* bloc job with link images */
.job {
  background-color: steelblue;
  padding-bottom: 30px;
}

.jobTitle {
  margin-top: 40px;
  padding-bottom: 0;
}

.jobDescription {
  margin-top: -30px;
}

.jobLinks {
  background-color: seagreen;
  padding-bottom: 40px;
}

/* bloc money with a grey background and image when its a desktop interface */
.money {
  background-color: violet;
  margin-left: 15px;
  margin-right: 15px;
  padding-bottom: 20px;
}

.blocMoney {
  background-color: teal;
  width: 100%;
  text-align: justify;
}

.buttonMoney {
  margin-top: 20px;
  margin-bottom: 20px;
}




































/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

